.logo-container {
    top: -20px;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .logo-container img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 5px;
    left: 120px;
  }
  
  /* Center the search bar on page*/
  
  .search-form {
    margin-top: 50px;
    margin-left: 380px;
  }
  
  /* Search bar dementions */
  
  .search-form input {
    width: 500px;
    height: 20px;
    padding: 5px;
  }
  
    /* Search button style */
  
  .search-form button {
    width: 70px;
    height: 30px;
    background-color: rgb(40, 37, 234);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    transition: background-color 0.3s ease;
  }
  
    /* Search button style on hover */
  
  .search-form button:hover {
    background-color: rgb(103, 7, 118);
  }